.form-div {
	/* width: 80%; */
	margin: auto;
}

.stack-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.another-opinion {
	display: flex;
	justify-content: center;
}

.another-opinion>button {
	margin: 5rem;
	font-size: 1.5rem;
	border: 2px solid #1F2B6C;
	padding: 1rem 2rem;
	background-color: #159EEC;
	border-radius: 0.5rem;
	display: block;
}